$base-font-size: 16px;

$black: #000000;
$white: #fff;

$grey: #DADADA;

$green: #009F99;
$greenHover: #00716C;

$blue: #4DB1E0;
$blueHover: #197099;


$whiteGrey: #F4F4F4;
$lightGrey: #949494;
$darkGrey: #3F3E3E;

$purple: #3E316B;
$purpleHover: #2d2253;
$purpleHover2: #160D38;

$orange: #D06528;
$orangeHover: #B24506;

$red: #C62A50;
$redHover: #900F2F;

$title-color: #222222;
$accent-color: #0095ff;

$fb: #3B5998;
$fbHover: #223D75;

$tw: #64A7F5;
$twHover: #3673BB;

$linkedin: #007BB6;
$linkedinHover: #015177;

$print: #009F99;
$printHover: #00716C;


$email: #D06528;
$emailHover: #B24506;


$text-font: 'IT CAvant Garde Std Bk', sans-serif;
$title-font: 'IT CAvant Garde Std Bk', sans-serif;
$openSanc-font: 'Open Sans', sans-serif;
$text-font1: 'ITC Avant Garde Gothic Std', sans-serif;
$text-font-sfns: 'SFNS Display Regular', sans-serif;



$mobile-menu-breakpoint: '990px';

$maxDesc: '1025px';
$maxTablet: '767px';
$maxMobile: '480px';